{
  "SECRET_KEY": "kminvupn=7dbw70e!#njo8qas2bx$tmw$nv1pt$g30&+f4(8c)",
  "DEBUG": true,
  "SPIDER_CALLBACK": "http://0.0.0.0:8080/spider",
  "SCRAPYD": "http://0.0.0.0:6800",
  "CELERY": {"BROKER": "redis://localhost:6379/0", "BACKEND": "redis://localhost"}
}
